.my-name{
    margin-left: 50px;
    margin-top: 80px;
}
.name{
    font-size: 42px;
    font-weight: 700;
    margin-top: -20px;
    margin-bottom: -5px;
}
.Adi{
    color: gray;
    font-weight: 900;
}
.hello{
    font-size: 18px;
    font-weight: 500;
}
.job{
    margin-top: 20px;
    font-weight: 600;
}
.accounts{ 
    height: 50px;
    width: 180px;
    padding-right: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-top: 25px;
    
}
.icons-link{
    display: flex;
    justify-content: start;
    gap: 35px;
    align-items: center;
}
.icon-acc{
    max-width: 40px;
    width: 100%; 
    position: relative; 
    transition: transform 0.15s;
}
.icon-accc{
    max-width: 50px;
    width: 100%; 
    position: relative; 
    transition: transform 0.15s;
}
.icon-acc:hover,
.icon-accc:hover{
    transform: scale(1.4) translateY(-5px);
}